.row{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.search-list{
  border: 1px solid;
  width: 48%;
  height: 100vh;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}
.news-details{
  border: 1px solid;
  width: 48%;
  height: 100vh;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}
@media (max-width: 1100px) {
  .news-details{
    width: 98%;
  }
  .search-list{
    width: 98%;
  }
}   