ul{
    line-height: 2;
    list-style-type: none;
    margin-right: -32px;

}
ul li:hover{
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}
li.someClass:focus{
    background-color: rgb(209, 209, 209);
    // border: 0 !important; 
}